body
{

background: #ff8040;
text-align: left;
}

#container
{
max-width:1000px;
margin-left: 20%;
margin-right: 20%;
background: #0080c0;
}

h1

{

color: #c0c0c0;

}

h3
{

color: #c0c0c0;

}
#pp2

{

background: #ffff80;

}
