body
{

background: #008080;
text-align: right;
}

#container
{
max-width:1000px;
margin-left: 20%;
margin-right: 20%;
background: #0080c0;
}

h1

{

color: #ffffff;

}

h3
{

color: #ffffff;

}
#pp2

{

background: #ffff80;

}
