body
{

background: #800000;
text-align: center;
}

#container
{
max-width:1000px;
margin-left: 10%;
margin-right: 10%;
background: #0080c0;
}

h1

{

color: #ffffff;

}

h3
{

color: #ffffff;

}
#pp2

{

background: #ffff80;

}
